{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Book Form</h1>
    <p>Enter Book dates:   </p>
        <br>
            <form action="/books_detail" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_id">ID</span>
                    <input type="text" class="form-control" name="id" aria-label="Sizing example input" aria-describedby="inputGroup_idt">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_name">Title</span>
                    <input type="text" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName">Category</span>
                    <input type="text" class="form-control" name="category" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_n_pages">PageNumber</span>
                    <input type="text" class="form-control" name="n_pages" aria-label="Sizing example input" aria-describedby="inputGroup_n_pages">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_n_pages">Author</span>
                    <input type="text" class="form-control" name="author" aria-label="Sizing example input" aria-describedby="inputGroup_n_pages">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="form" value="Submit" />
            </form>
</div>
{% endblock %}