{% extends "base.html" %}

{% block page_content %}

<h2>Document</h2>
<a href="/books" class="btn btn-success float-right">Add New Book</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Page Number</th>
        <th scope="col">Author</th>
        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in books_value %}
    <tr>
        <th scope="row">{{line[0]}}</th>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}